### Heroes Of Pymoli Data Analysis

* Even though the age group 20-24 had the highest purchase count, the age group 35-39 had the highest average purchase price. The data shows this group had an average purchase price of $3.60

* Of the 576 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.79%) with secondary groups falling between 15-19 (18.58%) and 25-29 (13.37%).

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total = len(purchase_data['SN'].value_counts())

totalplayers = pd.DataFrame({"Total Players": [total]})

totalplayers

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
numitems =  len((purchase_data["Item ID"]).unique())
avgprice =  purchase_data["Price"].mean()
numpurchase = len((purchase_data["Purchase ID"]).value_counts())
totalrevenue =  purchase_data["Price"].sum()

summary = pd.DataFrame({"Number of Items":[numitems], "Average Price":[avgprice], 
                        "Number of Purchases": [numpurchase], "Total Revenue":[totalrevenue]})

summary.style.format({'Average Price': "${:.2f}", 'Total Revenue':"${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gendercount = purchase_data[["Gender", "SN"]].drop_duplicates()
allcount = gendercount["Gender"].value_counts()

percentage = allcount / total * 100
percentround = percentage.round(2).astype(str) + "%"


demographics = pd.DataFrame({ "Total Count": allcount
                             ,"Percentage of Players": percentround})

demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# num of purchases
groupgender = purchase_data.groupby("Gender")
numpurchase = groupgender["Purchase ID"].count()

# avg purchase price
avgpurchase = groupgender["Price"].mean()

# total purchase price 
totalpurchase = groupgender["Price"].sum()

# avg total purchase price 

avgpurchase_gender = totalpurchase / allcount

purchasedemographics = pd.DataFrame({ "Purchase Count": numpurchase
                                     ,"Average Purchase Price": avgpurchase
                                     ,"Total Purchase Value": totalpurchase
                                     ,"Avg Total Purchase per Person": avgpurchase_gender})
purchasedemographics.style.format({"Average Purchase Price":"${:.2f}"
                                   ,"Total Purchase Value":"${:.2f}"
                                   ,"Avg Total Purchase per Person":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
purchase_data.Age.max()
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
purchase_data

agegroup = purchase_data.groupby("Age Group")

agecount = agegroup["SN"].nunique()

agepercent = agecount / total * 100
roundage = agepercent.round(2).astype(str) + "%"

agedemographics = pd.DataFrame({"Total Count": agecount, "Pecentage of Players": roundage})

agedemographics

           Total Count Pecentage of Players
Age Group
<10                 17                2.95%
10-14               22                3.82%
15-19              107               18.58%
20-24              258               44.79%
25-29               77               13.37%
30-34               52                9.03%
35-39               31                5.38%
40+                 12                2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchasecountage = agegroup["Purchase ID"].count()
avgpriceage = agegroup["Price"].mean()
sumpriceage = agegroup["Price"].sum()

totalpurchaseage = sumpriceage / agecount

agedemographics = pd.DataFrame({"Purchase Count": purchasecountage
                               ,"Average Purchase Price": avgpriceage
                               ,"Total Purchase Value": sumpriceage
                               ,"Avg Total Purchase per Person":totalpurchaseage})

agedemographics.style.format({"Average Purchase Price":"${:.2f}"
                                   ,"Total Purchase Value":"${:.2f}"
                                   ,"Avg Total Purchase per Person":"${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
spender = purchase_data.groupby("SN")
spendercount = spender["Purchase ID"].count()
spenderprice = spender["Price"].mean()
spendertotal = spender["Price"].sum()

topspenders = pd.DataFrame({"Purchase Count": spendercount
                               ,"Average Purchase Price": spenderprice
                               ,"Total Purchase Value": spendertotal})
formatspenders = topspenders.sort_values(["Total Purchase Value"], ascending=False).head()

formatspenders.style.format({"Average Purchase Price":"${:.2f}"
                                   ,"Total Purchase Value":"${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
itemgroup = items.groupby(["Item ID","Item Name"])
itemcount = itemgroup["Price"].count()
itemtotal = itemgroup["Price"].sum()
itemprice = itemtotal / itemcount

mostitems = pd.DataFrame({"Purchase Count":itemcount,"Item Price":itemprice
                         ,"Total Purchase Value":itemtotal})

formatitem = mostitems.sort_values(["Purchase Count"], ascending=False).head()

formatitem.style.format({"Item Price":"${:,.2f}"
                                   ,"Total Purchase Value":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
formatitem = mostitems.sort_values(["Total Purchase Value"], ascending=False).head()

formatitem.style.format({"Item Price":"${:,.2f}"
                                   ,"Total Purchase Value":"${:.2f}"})